# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
*.tfvars.backup

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
